html {
    background-image: url(img/fondopinchos.jpg);
}


body {
    background-image: url(fondopinchos.jpg);
    
}

aside {
            float: right;
            height: 140px;
            width: 330px;
            font-size: 20px;
            border: 7px solid black;
            margin-right: 20px;
            border-radius: 25px;
            color: black;
            padding: 5px;
            box-shadow: 5px 5px #783f3f;
            margin-top: 60px;
            background-image: url(lluvioso.jpg);
        }
    


header {
    background-color: rgba(80, 3, 3, 0.5);
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }



.h1 { text-align: right;
    

}


.punk1{
    width: 400px;
    height: 150px;
    float: left;
    padding: 3px;
}

nav {
    float: left;
    width: 10%;
    height: 800px;
    color: purple;
}


    





p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}


.cap {
    width: 800px;
    height: 300px;
    position: sticky;
    margin-left: 200px;
    margin-right: 100px;
}

    .fotos{
        display: grid;
        grid-template-areas:
        'menu main main right's;
        gap: 0px;
        grid-template-columns: 4;
    
        width: 68%;
    }
    
    .fotos2 {
        width: 800px;
        height: 300px;
        position: sticky;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    footer {
        text-align: right;
        margin-top: 45px;
    }


    
.icons{
    text-align: right;
}







