@font-face {
    font-family: Bombing;
    src: url(Bombing.ttf);
  }
  @font-face {
    font-family: PunkFearofa;
    src: url(Fearofapunkplanet.ttf);
  }
  @font-face {
    font-family: Tribal;
    src: url(xmasxpress.ttf);
  }

  html {
    background-image: url(img/fondopinchos.jpg);
    font-family:sans-serif;
}

tr{
    color: white;
    background-color: black;
}

td{
    width: 30%;
    padding: 1%;
    font-size: 18px;
}
.logo{
    margin: auto;
    width: 133px;
}
.navegador{
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    border: 1px solid #10ff00;
    background-color: rgb(0 0 0 / 52%);
    padding: 5px;
    box-shadow: -20px -12px #ffffff38;
    font-size: 20px;
}

a{
    text-decoration: none;
    padding: 16px;
    color: rgb(104, 255, 4);
    text-shadow: 2px, 2px, purple;
    font-size: 48px;
    font-family: tribal;
}



.linav a:hover {
    background-color: red;
    transition: background-color 0.5s linear;
}
a:active {
    color: yellow;

}

.linav{
    display: inline;
    padding-left: 10px;
   
}

.ulnav{
    list-style-type: none;
    margin: 0;
    padding: -1px;
    font-family: Tribal;
    letter-spacing: 2px;

}



table#registro{
margin-top: auto;
border-style: solid;
border-color: #88ff00;
border-collapse: collapse;
background-color: black;
margin-right: 0px;
}

#registraoi{
    text-align: center;
    font-size: 99px;
    color: white;
    font-weight: 24;
    font-family: Bombing;
    background-color: #000000c0;
    box-shadow: 9px 9px black;
}



body { margin-left: 150px;
    margin-right: 150px;
}    


header {
    background-color: rgb(240, 240, 240, 0.5);
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}    
  

nav {

    width: 100%;
    color: purple;
}    

.icons{
    text-align: right;
}

.botonesfinales{
    display: inline;
    margin-left: 50%;
    
}

table#footer tr td{
    border-collapse: collapse;
    width: 91%;
    }
